*, ::before, ::after{
    margin: 0;
    box-sizing: border-box;
}
.containerPacman{
    width: 350px;
    height: 380px;
    background: black;
    padding-top: 1px;
}
.pacman{
    margin: 80px;
    width: 100px;
    border-top: 100px solid yellow;
    border-right: 100px solid transparent;
    border-left: 100px solid yellow;
    border-bottom: 100px solid yellow;
    border-radius: 50%;
    position: relative;
}
.pacman::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    top: -45px;
    left:-10px;
    border-radius: 50%;
}
.book{
    width: 300px;
    height: 470px;
    border-radius: 10px;
    background: slateblue;
    color: darkslateblue;
    margin: 30px;
    box-shadow: 10px 10px #fff, 20px 20px black;
    position: relative;
}
.circleBook{
    position: absolute;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 60px,0 120px,0 180px, 0 240px, 0 300px, 0 360px, 0 420px ;
}
.lineBook{
    position: absolute;
    top: 6px;
    left: -20px;
    width: 35px;
    height: 10px;
    border-radius: 10px;
    background: green;
    color: green;
    box-shadow: 0 60px,0 120px,0 180px, 0 240px, 0 300px, 0 360px, 0 420px ;
}
.containerPanda{
    width: 500px;
    height: 500px;
    background: violet;
    padding: 20px;
    position: absolute;
    z-index: -2;
}
.cabezaPanda{
    margin: 40px;
    width: 300px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid;
    background: #fff;
    position: relative;
}
.orejaPanda{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: #000;
    position: absolute;
    top: -18px;
    z-index: -1;
    box-shadow: 190px 0 #000;
}
.ojosPanda{
    width: 90px;
    height: 90px;   
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 35px ;
    left: 40px;
    box-shadow: 110px 0 #000;
}
.pupilasPanda{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 40px;
    box-shadow: -25px 30px 0 -8px #fff, 110px 0 #fff, 80px 30px 0 -8px #fff  ;
}
.bocaPanda{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    position: relative;
    top: 110px;
    left:122px;
}
.bocaPanda::before{
    content: "";
    position: absolute;
    top: 45px;
    left: -10px;
    width: 60px;
    height: 20px;
    background: #fff;
    border: 5px solid;
    border-radius: 0 0 50% 50% ;
}