*{
    margin: 0;
    background: black;
    box-sizing: border-box;
}
.content{
    width: 100%;
}
.btn{
    display: inline-block;
    width: 50px;
    height: 30px;
    background: rgb(28, 28, 75);
    border-radius: 5px 5px;
}
.btn a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
img{
    margin: 5px;
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 1px solid rgb(17, 18, 65);
    opacity: 0.5;
    transition: all 1s ease-in-out;
}

img:hover{
    opacity: 1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 8px #ffffff;
    border-radius: 60%;
}

