*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #424242;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1400px;
    margin: 10px auto;
    background: #ffffff;
}
.header .nav{
    list-style: none;
    width: 100%;
    padding: 5px;
    background: #083647;
}
.nav li{
    display: inline-block;
    text-align: center;
}
.nav li a{
    text-decoration: none;
    color: #ddf1f9;
    padding: 20px;
    display: block;
}
.nav a:hover{
    background-color: tomato;
}
.section1{
    width: 900px;
    margin: 5px auto;
    height: 300px;
    padding: 20px 20px;
    background-image: url("../imagenes/sec-foto-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section1, h3, blockquote{
    color: aliceblue;
    margin-top: 30px;
}
.section2{
    width: 900px;
    margin: 5px auto;
    height: 300px;
    padding: 20px 20px;
    background-image: url("../imagenes/sec-foto-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section2, h3, blockquote{
    color: aliceblue;
    margin-top: 30px;
}
.section3{
    width: 900px;
    margin: 5px auto;
    height: 300px;
    padding: 20px 20px;
    background-image: url("../imagenes/sec-foto-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section3, h3, blockquote{
    color: aliceblue;
    margin-top: 30px;
}
.footer{
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    background: #083647;
}
.footer,p, a, cite{
    margin: 2px auto;
    color: #ddf1f9;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .container{
        width: 1000px;
    }
    .section1{
        width: 700px;
    }
    .section2{
        width: 700px;
    }
    .section3{
        width: 700px;
    }
}
@media screen and (max-width:800px){
    .container{
        width: 700px;
    }
    .section1{
        width: 500px;
    }
    .section2{
        width: 500px;
    }
    .section3{
        width: 500px;
    }
}