body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+28,feffff+100 */
    background: #a0d8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #a0d8ef 0%, #ddf1f9 28%, #feffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 28%,#feffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a0d8ef 0%,#ddf1f9 28%,#feffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */

}

